# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="mysql://root:root@localhost:3306/nestprismabd"
MAILERSEND_API_KEY=mlsn.ce5ff2ffec97f455ae57b264678f1c2629825bc7d54a5a39f3528d38d0759abd
JWT_SECRET=rZJMLMXszYaeSenk0xpxJICZ3AmFkHGtBACKYYMpW14=
EMAIL_SENDER_EMAIL=MS_hqL1aA@trial-ynrw7gynr5242k8e.mlsender.net
EMAIL_SENDER_NAME="Hayatunnabi Nabil Nest Prisma Server"
SLACK_WEBHOOK_URL=https://hooks.slack.com/services/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
SLACK_WEBHOOK_CHANNEL=nest-prisma-sendmailer-errors
APP_PORT=3010